{% extends '/manage/index.twig' %}

{% set pageTitle = 'Pages' %}

{% set bodyClass = ['pages','itemList'] %}

{% block content %}
<h1 class="t-right">Pages</h1>
<div>
    <a class="button success" href="/manage/pages/create">+ New page</a>
</div>
{% if pages %}
    <section">
    {% for page in pages %}
        <div class="p-8 p-top-0 p-bottom-0 b-1 b-solid b-color-softBlack">
            <h2><a href="/{{ page.slug }}">{{ page.title }}</a></h2>
            <div class="display-flex j-between">
                <div>
                    <a href="/manage/pages/edit/{{ page.id }}">Edit</a><!--| <a href="javascript:void(0)" data-action="quickEdit" data-id="{{ page.id }}">Quick Edit</a>-->
                </div>
                <a class="t-color-warning" href="/manage/pages/delete/{{ page.id }}">Delete</a>
            </div>
            <p></p>
        </div>
    {% endfor %}
    </section>
{% endif %}
{% endblock %}